.apartment-card{
  background-color: white;
  width: 25%;
  margin: 30px;
  h5, p{
    color: $pal_dark;
  }
}

.card-container-index{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-wrap {
  @include flex-wrap;
}
.show-card{
  border: 2px solid $pal_blue;
}

.card-body {
  @include center-flex-col;
}

.delete {
  margin-left: 10px;
}
