ul,
li {
  list-style: none;
}

.bg-main {
  /*  background: rgb(255,97,71); */
  /* background: linear-gradient(347deg, rgba(255,97,71,0.8099614845938375) 7%, rgba(196,224,226,1) 45%, rgba(113,166,176,1) 94%);  */
  min-height: 100vh;
  height: 100%;
  padding-bottom: 70px;
}
.bg-dash {
  height: 100vh;
  background-image:url('/img/desk.jpg');
  background-size: cover;
  border-radius: 10px;
  margin-top: 50px;
}
.card-img-top {
  border-radius: 10px;
}
.service {
  display: flex;
  width: 100%;
  justify-content: space-around;
  
}
.mb-20 {
  margin-bottom: 20px;
}
.bg-create {
  margin-top: 50px;
  border-radius: 10px;
  background-image:url('/img/bg-create2.jpg');
  background-size: cover;
  color: #fff;
}
.bg-footer {
  background: rgb(255,33,71);
  background: linear-gradient(90deg, rgba(255,33,71,1) 82%, rgba(255,81,71,1) 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.generic-page-link {
  color: $pal_dark;
}
.custom-control-label {
  margin-right: 50px;
}

.btn-primary {
  display: block;
  min-width: 100px;
  background: rgb(255,33,71);
  background: linear-gradient(90deg, rgba(255,33,71,1) 82%, rgba(255,81,71,1) 100%);
  border: 3px solid $pal_red;
  border-radius: 5px;
  font-weight: 600;
  &:hover {
    background: #5a6268;
    color: #fff;
    border-color: $pal_red;
  }
}
.btn-second {
  min-width: 100px;
  background-color:$pal_light_blue;
  border: 3px solid $pal_red;
  border-radius: 5px;
  color: $pal_dark;
  font-weight: 600;
  &:hover {
    background: #5a6268;
    color: #fff;
    border-color: $pal_red;
  }
}
.btn-third {
  min-width: 100px;
  background-color: #ffed4a;
  border: 3px solid $pal_red;
  border-radius: 5px;
  color: #000;
  font-weight: 600;
  &:hover {
    background: #5a6268;
    color: #fff;
    border-color: $pal_red;
  }
}

.mrl-10 {
  margin: 0 10px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-center {
  text-align: center;
}

.ap_ev {
  padding-top: 50px;
  h3 {
    margin-bottom: 20px;
  }
}

.fa-bars {
  color: #fff;
}

.mt-20 {
  margin-top: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.fa-linkedin,.fa-github-square {
  color: #fff;
  font-size: 1.8rem;
  margin: 20px 10px 40px 10px;
}
.card-header {
  color: #5a6268;
  font-weight: 600;
 /*  background: rgb(255,33,71);
  background: linear-gradient(90deg, rgba(255,33,71,1) 82%, rgba(255,81,71,1) 100%); */
  background-color:$pal_light_blue;
}
form {
  font-weight: 500;
}