.desc {
    padding: 70px 0;
    display: flex;
    .title {
        margin-right: 10px;
        margin-left: 10px;
    }
}
.foto {
    width: 100%;
    display: flex;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    #thumb {
        width: 60%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        img {
            width: 100%;
            border-radius: 10px;
            @media screen and (max-width: 768px) {
                margin-bottom: 50px;
            }
        }
    }
}
.info {
    margin-top: 50px;
    h4 {
        margin-bottom: 40px;
    }
    .list {
        display: flex;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        .left {
            width: 30%;
            @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            i {
                color: $pal_red;
                font-size: 1.2rem;
                margin-right: 10px;
            }
        }
        .right {
            @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 30px;
                display: flex;
                
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

#map {
    margin-top: 50px;
}

//messages
.mex1 {
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 15px 20px;
   
   
}
.mex {
    
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 1px;
    text-align: center;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 10px 20px rgba(0, 0, 0, 0.12);
        @media screen and (max-width: 768px) {
            flex-direction: column;
            
        }
        h1 {
            text-align: center;
            text-transform: uppercase;
            color: $pal_red;
        }
    .red {
        color: $pal_red;
        font-size: 1rem;
        margin-bottom: 20px;
        font-weight: 600;
    }
}

#apa {
    padding-top: 70px;
}
#new_ap {
    padding-top: 70px;
}
#edit {
    padding-top: 70px;
    padding-bottom: 50px;
}
#cont {
    padding-bottom: 50px;
}
.creamsg {
    input, textarea {
        border: 1px solid $pal_red;
    }
}