.navbar-expand-md {
  background: rgb(255,97,71);
  background: linear-gradient(90deg, rgba(255,97,71,1) 48%, rgba(255,113,71,1) 100%); 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 10px 20px rgba(0, 0, 0, 0.12);
  .container {
    
    .navbar-brand {
      @include center-flex;
     
      img {
        height: 40px;
        padding-right: 10px;
      }
      h2 {
        color: #fff;
        padding-top: 10px;
      }
    }
  }
}

.nav-item {
  font-size: 15px;
  .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }
}
