.navbar-expand-md {
  .container {
    .navbar-brand {
      @include center-flex;
      img {
        height: 50px;
        padding-right: 10px;
      }
      h2 {
        color: $pal_red;
        padding-top: 10px;
      }
    }
  }
}

.nav-item {
  font-size: 15px;
  .nav-link {
    color: $pal_red;
    text-transform: uppercase;
    font-weight: 500;
  }
}
