.jumbo{
  background-image: url('/img/dolomites.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 5px solid $pal_dark;
  margin-top: -1.5rem;
  height: 100vh;
  img {
    height: 250px;
  }
}
