/*
$container-width: 75%;
$btn-color : #41C457;
$primaryColor: #0282F9;
$colorNav : #bcbebc;
$colorTitle: #21333E;
$font_family : "Poppins", sans-serif;
$font-size : 16px;
$bgCardsSections: #EEF4ED;
$bgTitle : #D5E7E8;
$colorP : #7F7F7F;

 */

 // Pal Colors
$pal_blue: #71a6b0;
$pal_light_blue: #c4e0e2;
$pal_red: #ff6147;
$pal_dark: #121611;
$pal_pink: #fdd7d0;

// // logo Color
// $text_red: #e30613;
